<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftingUp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A25477501CE6CFF900C2FABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25477671CE6CFF900C2FABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25477721CE6CFF900C2FABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
